/*
Colors used:
Primary Colors (beige): #C7AA8D; (beige foncé): #C3976A ; texte bouton : #956F49
Secondary Colors (rouge): #722e16; (maron foncé): #474542
*/
/*
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700&family=Open+Sans:wght@300;400;600;700&display=swap');
*/
header {
  background-color: #c7aa8d;
  padding: 10px 0 4px;
  /* Adds a 10px inner spacing to all sides */
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.65);
  position: fixed;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #FFFEFE;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 400;
  /* Sets the font weight to 400 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  font-family: 'Bodoni Moda', serif;
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 600;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

.project-page h1, .project-page h2, .project-page h3, .project-page p, .project-page ul {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* general image responsive sizing */
img {
  width: 100%;
}

/*custome logo sizing */
.logo {
  width: 150px;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #c7aa8d;
  color: #434343;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #722e16;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

/* Links */
a {
  color: #474542;
  text-decoration: none;
  /* No underlining */
}

a:hover, a:focus {
  color: #983b1b;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #722e16;
}

nav>ul>li>a {
  transition-duration: 0.9s;
  transition-property: background-color, color, border-radius, box-shadow;
}

nav>ul>li>a:active {
  /* visited link */
  background-color: #c7aa8d;
  color: #474542;
}

nav>ul>li>a:visited {
  /* visited link */
  /*color: white;*/
}

nav>ul>li>a:hover, nav>ul>li>a:focus {
  background-color: #C7AA8D;
  color: white;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: #c7aa8d;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #956F49;
}

.button.contact:hover {
  background-color: #c3976a;
  color: #ffffff;
}

footer {
  background-color: #474542;
  color: #ffffff;
  text-align: center;
  padding: 20px 0 20px;
  /*padding-bottom: 0;*/
}

footer svg {
  max-width: 36px;
  height: auto;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#project .row:not(:last-child) {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#hero span {
  font-size: 70%;
  line-height: 1.4;
  display: block;
  margin-top: 1em;
}

.center {
  text-align: center;
}

#about h1 {
  text-align: center;
  /* Centers text */
}

#about-page h3 {
  margin-top: 0;
  /* Sets margins to none */
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li .icon {
  position: absolute;
  padding-right: 0;
  right: 0;
  top: 10px;
  font-size: 20px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(71, 69, 66, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #4a4a4a;
}

#hero {
  background-color: #474542;
  padding: 20px 0;
  text-align: center;
  color: white;
}

main {
  padding-top: 56px;
}

.email {
  margin-bottom: 1em;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 79px;
  }
  nav>ul>li {
    display: inline-block;
  }

  nav>ul>li>a:hover, nav>ul>li>a:focus {
    border-radius: 30px;
    box-shadow: 0px 0px 2px 2px rgb(255 255 255);
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-1 {
    width: 8.33%;
  }

  .col-lg-2 {
    width: 16.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-11 {
    width: 91.66%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

  /*[class*="col-"] {
    float: left;
  }*/
  .col-xl-6 {
    width: 50%;
  }
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
  .col-el-6 {
    width: 50%;
  }
}
