/*
Colors used:
Primary Colors (beige): #C7AA8D; (beige foncé): #C3976A
Secondary Colors (rouge): #BA4A23; (maron foncé): #474542
*/
/*
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700&family=Open+Sans:wght@300;400;600;700&display=swap');
*/
header {
  background-color: #c7aa8d;
  text-align: center;
    padding: 10px 0;
  /* Adds a 10px inner spacing to all sides */
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.65);
  position: fixed;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #FFFEFE;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 400;
  /* Sets the font weight to 400 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  font-family: 'Bodoni Moda', serif;
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* general image responsive sizing */
img {
  width: 100%;
}

/*custome logo sizing */
#logo {
  width: 150px;
}

/* Links */
a {
  color: #474542;
  text-decoration: none;
  /* No underlining */
}

nav>ul>li>a:visited {
  /* visited link */
  color: #white;
}

a:hover,
a:focus {
  color: #983b1b;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #ba4a23;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #c7aa8d;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: #ffffff;
  color: #c7aa8d;
  text-transform: uppercase;
  border: 2px solid #c3976a;
}

.button.contact:hover {
  background-color: #c3976a;
  color: #ffffff;
}

footer svg {
  max-width: 36px;
  height: auto;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#project .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}
#hero span {
  font-size: 70%;
  line-height: 1.4;
  display:block;
  margin-top: 1em;
}

.center {
  text-align: center;
}

#about h1 {
  text-align: center;
  /* Centers text */
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #4a4a4a;
}
#hero {
  background-color: #474542;
  padding: 20px 0;
 text-align: center;
 color: white;
}
main {
  padding-top: 118px;
}
.email {
  margin-bottom: 1em;
}
